
# ==== Cloclk inputs (CLK) ====

NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";
NET "clk" TNM_NET = sys_clk;
TIMESPEC TS_sys_clk = PERIOD sys_clk_pin 100 MHz HIGH 50%;

NET "rst" CLOCK_DEDICATED_ROUTE = FALSE | LOC = "C12"	| IOSTANDARD = "LVCMOS33";
NET "led"	LOC = "T8"	| IOSTANDARD = "LVCMOS33";

# ==== UART ====
NET "uart_txd"	LOC = "D4"	| IOSTANDARD = "LVCMOS33";
NET "uart_rxd"	LOC = "C4"	| IOSTANDARD = "LVCMOS33";

# ==== SPI ====
# NET "spi_miso"	LOC = "P2"	| IOSTANDARD = "LVCMOS33";
# NET "spi_mosi"	LOC = "R2"	| IOSTANDARD = "LVCMOS33";
# NET "spi_clk"	LOC = "U1"	| IOSTANDARD = "LVCMOS33";

# ==== I2C ====
#NET "i2c_sda"	LOC = "V9"	| IOSTANDARD = "LVCMOS33";
#NET "i2c_clk"	LOC = "R8"	| IOSTANDARD = "LVCMOS33";

## Pmod Header JA
NET "rst_lcd"			LOC = "B13"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L1N_T0_AD0N_15,					Sch name = JA1
NET "spi_sce"			LOC = "F14"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L5N_T0_AD9N_15,					Sch name = JA2
NET "spi_dc"			LOC = "D17"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L16N_T2_A27_15,					Sch name = JA3
NET "spi_mosi"			LOC = "E17"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L16P_T2_A28_15,					Sch name = JA4
NET "spi_miso"			LOC = "G13"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_0_15,								Sch name = JA7
#NET "JA<5>"			LOC = "C17"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L20N_T3_A19_15,					Sch name = JA8
#NET "sck"			LOC = "D18"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L21N_T3_A17_15,					Sch name = JA9
NET "spi_sck"			LOC = "E18"	| IOSTANDARD = "LVCMOS33";		#Bank = 15, Pin name = IO_L21P_T3_DQS_15,					Sch name = JA10
